@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    27th Floor<br />
    City Tower<br />
    Piccadilly Plaza<br />
    Manchester<br />
    M1 4BT<br />

    <abbr title="Phone">P:</abbr>
    0161 219 8101
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:p.shyrko@godeltech.com">p.shyrko@godeltech.com</a>
</address>