@{
    ViewBag.Title = "Godel Heroes: Top 10";
}

<hr />

<button type="button" class="btn btn-default" id="previous">Previous</button>
<button type="button" class="btn btn-primary" id="current">Current</button>
<button type="button" class="btn btn-default" id="next">Next</button>

<div class="table-responsive">
    <table class="table"
           id="top10"
           data-toggle="table"
           data-url="/Home/GetTop10"
           data-query-params="postQueryParams"
           data-method="post"
           data-content-type="application/x-www-form-urlencoded"
           data-side-pagination="server"
           data-pagination="true"
           data-page-size="10"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-sort-order="desc"
           data-sort-name="total_just_text">
        <thead>
            <tr>
                <th data-field="FirstName">First Name</th>
                <th data-field="LastName">Last Name</th>
                <th data-field="DispName">Skype Name</th>
                <th data-field="author">Skype ID</th>
                <th data-field="count" data-sortable="true">count</th>
                <th data-field="total_just_text" data-sortable="true">total_just_text</th>
                <th data-field="min_just_text" data-sortable="true">min_just_text</th>
                <th data-field="max_just_text" data-sortable="true">max_just_text</th>
                <th data-field="avg_just_text" data-sortable="true">avg_just_text</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script src="/Scripts/date.js"></script>

    <script>
        var currentDate = Date.today().add(-1).month();

        function postQueryParams(params) {
            params.currentDate = currentDate.toJSON();
            return params;
        }

        $('#previous').click(function () {
            currentDate = new Date(currentDate).add(-1).month();
            $('#top10').bootstrapTable('refresh');
        });

        $('#next').click(function () {
            currentDate = new Date(currentDate).add(1).month();
            $('#top10').bootstrapTable('refresh');
        });
    </script>
}
