@{
    ViewBag.Title = "Messages";
}
<h2 id="h2Title">@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h5 id="h5participants">Participants: <span id="participants"></span></h5>
            <h5>Messages Count: <span id="count"></span></h5>
            <h5>Messages Length: <span id="length"></span></h5>
        </div>
        <div class="col-lg-6">
            <h5>Min Message: <span id="min"></span></h5>
            <h5>Max Message: <span id="max"></span></h5>
            <h5>Avg Message: <span id="avg"></span></h5>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="fixed-table-toolbar">
        <div class="bars pull-left">
            <div id="header-toolbar">
                <button type="button" class="btn btn-default " id="next">Next</button>
                <button type="button" class="btn btn-primary " id="current">Current</button>
                <button type="button" class="btn btn-default " id="previous">Previous</button>
            </div>
        </div>
    </div>
    <table class="table table-hover table-striped"
           id="messages"
           data-toggle="table"
           data-query-params="postQueryParams"
           data-method="post"
           data-content-type="application/x-www-form-urlencoded"
           data-side-pagination="server"
           data-pagination="true"
           data-page-size="10"
           data-page-list="[10, 20, 50, 100, 200]"
           data-sort-order="asc"
           data-sort-name="timestamp"
           data-striped="true"
           data-show-loading="true"
           data-cache="false">
        <thead>
            <tr>
                <th data-field="RowNum" data-halign="center">#</th>
                <th data-field="row" data-halign="center" data-formatter="textFormatter">Message</th>
                <th data-field="timestamp" data-formatter="dateFormatter" data-sortable="true" data-halign="center" data-align="center">Time</th>
                <th data-field="len" data-formatter="numberFormatter" data-sortable="true" data-align="right" data-halign="center">Len</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
{
    <script src="~/bundles/messages"></script>
}
